<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TP ENI</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Filmothèque</a>
			</div>
		</div>
	</nav>
	<br>
	<h2>Detail du film :</h2>
	<br>
	<form>
		<div class="form-group row">
			<label for="inputTitre" class="col-sm-2 col-form-label">Titre
				:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputTitre"
					disabled="disabled" th:value="${film.titre}" />
			</div>
		</div>
		<div class="form-group row">
			<label for="inputGenre" class="col-sm-2 col-form-label">Genre
				:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputGenre"
					disabled="disabled" th:value="${film.genre.libelle}" />
			</div>
		</div>
		<div class="form-group row">
			<label for="inputAnnee" class="col-sm-2 col-form-label">Année
				:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputAnnee"
					disabled="disabled" th:value="${film.annee}" />
			</div>
		</div>
		<div class="form-group row">
			<label for="inputRealisateur" class="col-sm-2 col-form-label">Réalisateur
				:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputRealisateur"
					disabled="disabled"
					th:value="${film.realisateur.nom} + ' ' + ${film.realisateur.prenom}" />
			</div>
		</div>
		<div class="form-group row">
			<label for="inputDuree" class="col-sm-2 col-form-label">Durée
				:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputDuree"
					disabled="disabled" th:value="${film.duree}" />
			</div>
		</div>
		<div class="form-group row">
			<label for="inputSynopsis" class="col-sm-2 col-form-label">Synopsis
				:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="inputSynopsis"
					disabled="disabled" th:value="${film.synopsis}" />
			</div>
		</div>
	</form>
	Acteur(s) :
	<table>
		<tr data-th-each="movie: ${film.listeActeurs}">
			<td th:text="${movie.prenom}" />
			<td th:text="${movie.nom}" />
		</tr>
	</table>
</body>
</html>