<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TP ENI</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Filmothèque</a>
			</div>
		</div>
	</nav>
	<h2 style="text-align: center">Les films de l'ENI</h2>
	<div class="py-5">
		<div class="container">
			<div class="row hidden-md-up">
				<tr data-th-each="movie: ${listeFilm}">
					<div class="col-md-4">
						<div class="card">
							<div class="card-block">
								<h4 class="card-title" style="text-align: center">
									<p th:text="${movie.titre} +' (' +${movie.annee} +')'"></p>
								</h4>
								<h6 class="card-subtitle text-muted">
									<p
										th:text="'Realisateur : '+${movie.realisateur.nom} +' ' + ${movie.realisateur.prenom}"></p>
								</h6>
								<p class="card-subtitle text-muted"
									th:text="'Genre : ' + ${movie.genre.libelle}"></p>
								<a th:href="@{/movies/detail(id=${movie.id})}">Detail</a>
							</div>
						</div>
					</div>
				</tr>
			</div>
		</div>
	</div>
	<a href="movies/ajouter" class="btn btn-primary">Ajouter film</a>
</body>
</html>